.forget, .register {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;

    font-size: small;

    a {
        font-weight: bold;
        transition: 250ms;

        &:hover {
            color: var(--primary-hover);
        }
    }
}