html {
  scroll-behavior: smooth;
}

html, body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ffffff;
  --primary-dark: #A00F0F;
  --primary-hover: #e41515;
  --primary-light: #e41515;
  --background: #0c0808;
  --background-transparent: #0c080896;
  --background-gray: #181818;
  --background-light: #573a3a;
  --button-muted: #1d1d1d;
  --button-hover: #303030;
  --text-primary: #ffffff;
  --text-contrast: #000000;
  --text-secondary: #A00F0F;
  --text-muted: #dddada;
  --border: rgba(255, 255, 255, 0.1);
  --border-strong: rgb(138, 120, 120);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: hsla(210, 100%, 56%, 1);
  --heading-font: 'Instrument Serif', serif;
  --body-font: 'Inter';
}

body {
  margin: 0;
  color: var(--text-primary);
  background: linear-gradient(to bottom, var(--background-light), var(--background));
}

#root {
  width: 100%;
  min-height: 100svh;
  display: grid;
  grid-template-rows: 66px 1fr 66px;
}

a {
  color: inherit;
  text-decoration: none;
}

.auth-page {
  width: 100%;
  height: 100%;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

button, input {
  all: unset;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border: 2px solid var(--border);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
}

.card {
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  border: 2px solid var(--border-strong);
  border-radius: 2rem;
  background-color: transparent;
  backdrop-filter: blur(55px);

  h1 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
      border-radius: 10px;
      background-color:white;
      height: 30px;
      color: var(--text-contrast);
      padding-inline: .75rem;
  }

  input[type="checkbox"] {
      width: 14px;
      height: 14px;
      border-radius: 4px;
      background-color: white;
      padding-inline: 0;
  }

  input[type="checkbox"]::before {
      content: "✔";
      font-size: 13px;
      transform: scale(0);
      transition: transform 250ms ease-in-out;
  }

  input[type="checkbox"]:checked {
      border-color: var(--primary-light);
      color: var(--primary-light);
  }

  input[type="checkbox"]:checked::before {
      transform: scale(1);
  }


  button {
      height: 40px;
      border-radius: 40px;
      background-color: var(--primary-light);
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
      transition: all 400ms ease;
  }
}