html {
  scroll-behavior: smooth;
}

html, body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ffffff;
  --primary-dark: #A00F0F;
  --primary-hover: #e41515;
  --primary-light: #e41515;
  --background: #0c0808;
  --background-transparent: #0c080896;
  --background-gray: #181818;
  --background-light: #573a3a;
  --button-muted: #1d1d1d;
  --button-hover: #303030;
  --text-primary: #ffffff;
  --text-contrast: #000000;
  --text-secondary: #A00F0F;
  --text-muted: #dddada;
  --border: rgba(255, 255, 255, 0.1);
  --border-strong: rgb(138, 120, 120);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: hsla(210, 100%, 56%, 1);
  --heading-font: 'Instrument Serif', serif;
  --body-font: 'Inter';
}

body {
  margin: 0;
  color: var(--text-primary);
  background: linear-gradient(to bottom, var(--background-light), var(--background));
}

#root {
  width: 100%;
  min-height: 100svh;
  display: grid;
  grid-template-rows: 66px 1fr 66px;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-general {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button, input {
  all: unset;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border: 2px solid var(--border);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
}